Screen {
    overflow: hidden hidden;
}

#body-container.layout-wide {
    layout: grid;
    grid-size: 2;
    grid-columns: 1fr 1fr;
}

#output-container {
    overflow: auto auto;
    min-height: 25vh;
    height: 1fr;
    width: 1fr;
}

.span-2 {
    column-span: 2;
}

#hover-container {
    overflow: auto auto;
    height: auto;
    height: 1fr;
    width: 1fr;
}

#hover-container.hidden {
    display: none;
}

Toast.-key {
    margin: 0;
    padding: 0;
    border-left: solid $accent;
}
